.Post {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  background: #218664;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

nav a.active {
  background: rgba(255,255,255,.5)
}

.Post-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Post-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Post-title {
  font-size: 1.5em;
}

.Post-intro {
  font-size: large;
}

@keyframes Post-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
